<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.6435-9/p180x540/125804657_206521220865306_8629959089832217753_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=e3f864&_nc_ohc=SJgjDKCTy2UAX-WlCs9&_nc_oc=AQmQ1mge0fVXXUMkJj2cEboMJWKA1KFmfALg9DffJqLbMuaBtQRjbFd9kFF5T3C03e5LM4NJ8NbX-HtdkfuqnQTo&_nc_ht=scontent-hkt1-1.xx&oh=e3cb02af4de991195b86e96572cd9122&oe=6120FFF5">
    <title>CrimShop</title>
    <link rel="stylesheet" href="w3.css">
</head>
<body>
    <%- include('titles/navbar')  %>  
    <%- include('titles/header')  %>  

    <div class="w3-content w3-padding" style="max-width: 1564px;">
        <%- include('titles/products') %>
        <%- include('titles/about') %>
        <!-- <%- include('titles/contact') %> -->

    </div>
    <%- include('titles/footer') %>
</body>
</html>